@media screen and (min-width:300px) and (max-width:576px) {
nav{
       
        justify-content: center;
}
.logo h2{
        text-align: center;
}
.ul-button-parent{
        display: none;
}
.banner-text-icon-parent{
    flex-direction: column-reverse;
    text-align: center;
    padding: 0 20px;
}

.banner-text h1{
    font-size: 25px;
}
.banner-text p{
    font-size: 15px;
}
.banner-text ul{
    gap: 10px;
    font-size: 15px;
    display: inline-flex;
    text-align: center;
}
.banner-img img{
    width: 50%;
    
}
.banner-btn{
   margin: 10px 70px 10px 0;
}
.banner-icon i{
    margin: 20px 5px 0 10px;
}
.portfolio-btn {
    padding: 8px 8px 10px 80px;
}
.hireme-btn{
    top: 5px;
}
.marquee-parent{
    margin-top: 30px;
}
/* about section responsive code start here */
.about-section{
    margin: 30px 20px;
}
.about-parent{
    flex-direction: column-reverse;
    text-align: center;
}
.about-text{
    width: 100%;
}  
.about-text h2{
    font-size: 20px;
    margin-bottom: 18px;
}
.about-text p{
    font-size: 16px;
}
.icon i{
    font-size: 20px;
}
.about-icon-text-parent h2{
    font-size: 42px;
    margin: 16px 0;
}
.about-icon-text-parent h5{
    font-size: 18px;
} 
/* experience section responsive code end here */
.experience-section{
    padding: 80px 20px;
}
.experience-parent{
    display: block;
    justify-content: center;
    text-align: center;
}
.experience-text{
    width: 100%;
    margin-bottom: 70px;
}
.experience-text h5{
    font-size: 14px;
}
.experience-text h2{
    font-size: 32px;
    margin: 8px 0 18px 0;
}
.experience-text p{
    font-size: 14px;
    line-height: 20px;
}
.designer-year-parent h3{
    font-size: 22px;
}
.year{
    justify-content: center;
}
.year h4{
    font-size: 14px;
}
/* portfolio section responsive code start here */
.portfolio-section{
    padding: 0 20px 80px 20px;
}
.portfolio-parent ul{
    display: block;
}
.portfolio-parent ul li{
    margin-bottom: 16px;
}
.portfolio-img-text-parent{
    display: block;
}
.portfolio-image img{
    display: none;
}
.portfolio-text h2{
    font-size: 32px;
    margin: 8px 0 18px 0;
}
.portfolio-text p{
    font-size: 14px;
    line-height: 20px;
}
.portfolio-text h4{
    font-size: 14px;
}
.portfolio-image-2 img{
    display: none;
}
/* contact section responsive code start here */
.contact-section{
    margin: 80px 20px;
}
.contact-title-parent{
    gap: 0;
}
.contact-title-img img{
   display: none;
}
/* contact section items responsive code start here */
.contact-parent{
    display: block;
    gap: 50px;
    width: 90%;
}
.contact-maps iframe{
    width: 100%;
}
.contact-text-items{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 40px;
    margin: 20px 0 30px 0;
    text-align: center;
}
/* contact input and input */
.contact-input-parent{
    display:block;
}
.contact-input-items input{
    width: 90%;
}
.textarea-parent textarea{
    width: 100%;
    margin-bottom: 20px;
} 
.footer-ul ul{
   display: block;
}
}
@media screen and (min-width:577px) and (max-width:768px) {
.p{
     display: none;
}
.ul-button-parent ul{
    font-size: 14px;
}
.nav-btn{
    font-size: 14px;
}
/* banner section responsive code start here */
.banner-text-icon-parent{
    flex-direction: column-reverse;
    text-align: center;
    padding: 0 30px;
}
.banner-text{
    text-align: center;
}
.banner-text h1{
    font-size: 28px;
}
.banner-text p{
    font-size: 16px;
}
.banner-text ul{
     gap: 10px;
    font-size: 18px;
    display: inline-flex;
    text-align: center;
}
.banner-img img{
    width: 40%;
    margin: 20px 0;
}
.banner-btn{
    margin: 15px 0;
    text-align: center;
}

.marquee-parent{
    margin-top: 30px;
    font-size: 14px;
}
.banner-btn{
    display: none;
}
/* about section responsive code start here */
.about-section{
    margin: 50px 60px;
}
.about-parent{
    flex-direction: column-reverse;
    text-align: center;
}  
.about-text{
    width: 100%;
}
.about-text h2{
    font-size: 20px;
    margin-bottom: 18px;
}
.about-text p{
    font-size: 16px;
}
.icon i{
    font-size: 20px;
}
.about-icon-text-parent h2{
    font-size: 42px;
    margin: 16px 0;
}
.about-icon-text-parent h5{
    font-size: 18px;
} 
/* experience section responsive code end here */
.experience-section{
    padding: 80px 20px;
}
.experience-parent{
    display: block;
    justify-content: center;
    text-align: center;
}
.experience-text{
    width: 100%;
    margin-bottom: 70px;
}
.experience-text h5{
    font-size: 18px;
}
.experience-text h2{
    font-size: 39px;
    margin: 8px 0 18px 0;
}
.experience-text p{
    font-size: 18px;
    line-height: 20px;
}
.designer-year-parent{
    margin-bottom: 39px;
}
.designer-year-parent h3{
    font-size: 32px;
}
.year{
    justify-content: center;
}
.year h4{
    font-size: 18px;
}
/* portfolio section responsive code start here */
.portfolio-section{
    padding: 0 20px 80px 20px;
}
.portfolio-parent ul{
    display: block;
}
.portfolio-parent ul li{
    margin-bottom: 16px;
}
.portfolio-img-text-parent{
    display: block;
}
.portfolio-image img{
    display: none;
}
.portfolio-text h2{
    font-size: 32px;
    margin: 8px 0 18px 0;
}
.portfolio-text p{
    font-size: 14px;
    line-height: 20px;
}
.portfolio-text h4{
    font-size: 14px;
}
.portfolio-image-2 img{
    display: none;
}
/* contact section responsive code start here */
.contact-section{
    margin: 80px 20px;
}
.contact-title-parent{
    gap: 0;
}
.contact-title-img img{
   width: 100%;
}
/* contact section items responsive code start here */
.contact-parent{
    display: block;
    gap: 50px;
    width: 90%;
}
.contact-maps iframe{
    width: 100%;
}
.contact-text-items{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 40px;
    margin: 20px 0 30px 0;
    text-align: center;
}
/* contact input and input */
.contact-input-parent{
    display:block;
}
.contact-input-items input{
    width: 90%;
}
.textarea-parent textarea{
    width: 100%;
    margin-bottom: 20px;
} 
/* footer section responsive code start here  */
.footer-parent{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin: 0 20px;
    padding: 20px 0;
    color: #fff;
    gap: 40px;
}
}
@media screen and (min-width:769px) and (max-width:992px) {
nav{
    display: flex;
    justify-content: space-between;
}
.ul-button-parent{
    display: flex;
}
.ul-button-parent ul{
    display: flex;
    font-size: 14px;
}
 /* banner section responsive code start here */
.banner-text h1{
    font-size: 20px;
}
.banner-text p{
    font-size: 14px;
}
.banner-text ul{
    gap: 8px;
    font-size: 14px;
}
.banner-img img{
    width: 100%;
}
/* about section responsive code start here */
.about-section{
    margin: 50px 60px;
}
.about-parent{
    display: flex;
}  
.about-text h2{
    font-size: 35px;
    margin-bottom: 18px;
}
.about-text p{
    font-size: 16px;
}
.icon i{
    font-size: 20px;
}
.about-icon-text-parent h2{
    font-size: 42px;
    margin: 16px 0;
}
.about-icon-text-parent h5{
    font-size: 18px;
}
/* experience section responsive code end here */
.experience-section{
    padding: 80px 60px;
}
.experience-parent{
    display:flex;
    justify-content: space-between;
}
.experience-text h5{
    font-size: 14px;
}
.experience-text h2{
    font-size: 32px;
    margin: 8px 0 18px 0;
}
.experience-text p{
    font-size: 14px;
    line-height: 20px;
}
.designer-year-parent h3{
    font-size: 22px;
}

.year h4{
    font-size: 18px;
}
/* portfolio section responsive code start here */
.portfolio-section{
    padding: 0 20px 80px 20px;
}
.portfolio-parent ul{
    display: block;
}
.portfolio-parent ul li{
    margin-bottom: 16px;
}
.portfolio-img-text-parent{
    display: block;
}
.portfolio-image img{
    display: none;
}
.portfolio-text h2{
    font-size: 32px;
    margin: 8px 0 18px 0;
}
.portfolio-text p{
    font-size: 14px;
    line-height: 20px;
}
.portfolio-text h4{
    font-size: 14px;
}
.portfolio-image-2 img{
    display: none;
}
/* contact section responsive code start here */
.contact-title-parent{
    gap: 20px;
}
.contact-title-img img{
   width: 100%;
}
/* contact section items responsive code start here */
.contact-parent{
    display: flex;
    gap: 20px;
    width: 100%;
    padding-top: 30px;
}
.contact-maps iframe{
    width: 100%;
}
.contact-text-items{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    margin: 20px 0 30px 0;
    text-align: center;
}
.contact-text h2{
    font-size: 16px;
}
/* contact input and input */
.contact-input-parent{
    display:flex;
}
.contact-input-items input{
    width: 90%;
}
.textarea-parent textarea{
    width: 100%;
    margin-bottom: 20px;
}
}
@media screen and (min-width:993px) and (max-width:1200px) {
nav{
    display: flex;
    justify-content: space-between;
}
.ul-button-parent{
    display: flex;
}
.ul-button-parent ul{
    display: flex;
    }
/* banner section responsive code start here */
.banner-text h1{
    font-size: 50px;
}
.banner-text p{
    font-size: 17px;
}
.banner-text ul{
    font-size: 18px;
}
.banner-img img{
    width: 100%;
}
.marquee-parent{
    margin-top: 30px;
}
/* about section responsive code start here */
.about-section{
    margin: 50px 60px;
}
.about-parent{
    display: flex;
}  
.about-text h2{
    font-size: 35px;
    margin-bottom: 18px;
}
.about-text p{
    font-size: 16px;
}
.icon i{
    font-size: 20px;
}
.about-icon-text-parent h2{
    font-size: 42px;
    margin: 16px 0;
}
.about-icon-text-parent h5{
    font-size: 18px;
}
/* experience section responsive code end here */
.experience-section{
    padding: 80px 60px;
}
.experience-parent{
    display:flex;
    justify-content: space-between;
}
.experience-text h5{
    font-size: 18px;
}
.experience-text p{
    font-size: 18px;
}
/* portfolio section responsive code start here */
.portfolio-section{
    padding: 0 20px 80px 20px;
}
.portfolio-parent ul{
    display: flex;
}
.portfolio-img-text-parent{
    display: flex;
}

.portfolio-text h2{
    font-size: 32px;
    margin: 8px 0 18px 0;
}
.portfolio-text p{
    font-size: 14px;
    line-height: 20px;
}
.portfolio-text h4{
    font-size: 14px;
}
/* contact section responsive code start here */
.contact-title-parent{
    gap: 20px;
}
.contact-title-img img{
   width: 100%;
}
/* contact section responsive items code start here */
.contact-parent{
    display: flex;
    gap: 40px;
    padding-top: 30px;
}
.contact-maps iframe{
    width: 100%;
}
.contact-text-items{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    margin: 20px 0 30px 0;
    text-align: center;
}
.contact-text h2{
    font-size: 16px;
}
/* contact input and input */
.contact-input-parent{
    display:flex;
}
.contact-input-items input{
    width: 90%;
}
.textarea-parent textarea{
    width: 100%;
    margin-bottom: 20px;
}
}